/* ------------------- General Settings -------------------- */

* {

  box-sizing: border-box;

}

body {  
 
  height: 100vh;
  margin: 0;
  /*background: rgb(243, 255, 183);*/
  /*background: rgb(234, 255, 132);*/
  /*font-family: "JetBrains Mono";*/
  font-family:"Aleo", serif;
  
  font-size: clamp(1em, 4vw, 1.5em);
}

main {

  /*padding: clamp(0.5em, 2vw, 2em);*/
  
  padding-top: 30px;
 
  /*background: linear-gradient(to top, #ffffff, #7fa1d7);*/
  background-color: white;
}



/* ------------------- Navigation bar -------------------- */

h2 {
  margin-block: 0px;
}

h3 {
  margin-block: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;

}

li>a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

header {
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbarA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 25, 66);
  color: white;
  z-index: 10;
  min-height: 50px;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.menu-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.menu-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.logoA {
  font-weight: bold;
  /*color:rgb(234, 255, 132);*/
  color: rgb(255, 94, 94);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-imgMenu {
  position: relative;
  display: flex;
  width: 2em;
  cursor: pointer;
  filter: invert(100%);
}

.menu-imgSearch {
  position: relative;
  display: flex;
  width: 2em;
  cursor: pointer;
  filter: invert(100%);
}

.menu-imgFilter {
  position: relative;
  display: flex;
  width: 2em;
  cursor: pointer;
  filter: invert(100%);
}

.menu-img:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
}

/* ----------------- Hover Inhalt Menu ---------------- */

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 100px;
  z-index: 10;
  font-size: clamp(0.8em, 1vw, 2em);
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  background-color: rgba(0, 25, 66);
  color: white;
}

/* -------------------------Hover Filter Menu--------------------------*/

.menuFilter {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 100px;
  z-index: 10;
  color: black;
  font-size: clamp(0.8em, 1vw, 2em);
}

.menuFilter > p {
  margin: 5px;
}

.filter-container:hover .menuFilter {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-content: center;
  padding: 10px;
  text-decoration: none;
}

.gridContainer>p {
  width: 50%;
  margin: 5px;
}

.gridContainer>input {
  width: 40%;
}

/*.menuFilter a:hover {
  background-color: #f0f0f0;
}*/

/* -------------------------Search bar---------------------------------*/

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  z-index: 10;
}

.search-container:hover .search-bar {
  display: block;
}
/* -------------------------------------------------------------------*/

.navbarB {
  display: none;
  justify-content: space-between;
  align-items: center;

}

.type {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
  justify-content: center;
  align-items: center;

}

.type>p {
  font-size: clamp(0.8em, 3vw, 1.2em);
}

.spaceforfooter{
  height: 6rem;
}

/* ----------------------------- Main ------------------------------- */

/* ------------------- Opening Container -------------------- */

.pictureOpeningContainer {
  position: relative;
  width: 100%;
  margin-top: 25px;
}

.pictureOpeningContainer>img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter:hue-rotate(20deg);
  /*filter: blur(4px);*/

}

.headOpeningContainer {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: rgba(0, 31, 81, 0.9);
  /*border: 2px solid white;*/
  /*border-left: 2px solid rgba(0, 25, 66, 0.9);
  border-right: 2px solid rgba(0, 25, 66, 0.9);*/
} 

.headOpeningContainer>h1 {
  color: white;
  padding: clamp(0.2em, 1vw, 3em);
  font-weight: 400;
  font-size: clamp(1.2em, 5vw, 2em);


  /* ------------------- CTA Container -------------------- */
  
} 
.ctaContainer {

  position: absolute;
  bottom: 0px;
  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px rgb(0, 25, 66) solid;
  /*border-bottom-right-radius: 10px;*/
  /*border-bottom-left-radius: 10px;*/
  
  background-color: rgba(0, 31, 81, 0.9);
  margin-bottom: 5px;
  /*border-top: white 3px solid;*/
}
.ctaContainer>h2 {
  text-align: center;
  font-size: clamp(0.8em, 3vw, 2em);
  color: white;
  
}

.ctaContainer>h2>a {
  color:rgb(41, 4, 135);
  background-color: rgb(255, 215, 107);
  padding: 5px;
  margin: 10px;
  font-family: "JetBrains Mono";
  border: 2px solid rgb(255, 67, 67);
  border-radius: 10px;
  /*background-color: rgb(89, 0, 89);*/
  /*background-color: #d12d1f;*/
  /*background-color: rgb(129, 44, 129);*/
  box-shadow: 0 4px 8px rgba(0, 0 ,0 , 0.2);
  font-size: 0.8em;
}

.buttonCTA:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  
 
  cursor: pointer;
}

.buttonCTA:active {
  transform: scale(0.90);
  transition: transform 0.3s ease;
} 

/* ------------------- Kurse Container -------------------- */

.kursÜberblickContainer {
  /*border: 8px solid rgb(0, 25, 66);*/
  /*background-color: #363c69;*/
  padding: clamp(1em, 2vw, 2em);
  border-radius: 10px;
}

.kursÜberblickContainer>h2 {
  /*color:#f08a62;*/
  color: rgb(254, 128, 128);
  background-color: rgba(0, 25, 66, 0.95);
  /*border: 1px solid rgb(243, 255, 183);*/
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 10px;
  font-size: clamp(1em, 4vw, 1.5em);
}

.kursÜberblickContainer>p {
  color:white;
  line-height: 2;
  font-size: clamp(0.8em, 3vw, 1.2em);
}

.kursAngebotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.kursContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: clamp(0.8em, 1.5vw, 1em);
  background-color: rgb(255, 245, 245);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.kursContainer > img {
  width: 100%;
  height: auto;
  height: 250px;
  object-fit: cover;
  border: solid 1px rgb(255, 94, 94);
  border-radius: 10px;
}

.kursContainer > h3 {
  color: rgb(0, 25, 66);
  font-size: clamp(1em, 3vw, 1.2em);
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 0.5em;
  text-align: left; 
  width: 100%; 
}

.kursContainer > p {
  color: rgb(0, 25, 66);
}

.kursContainer > a {
  color: rgb(255, 94, 94);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgb(255, 94, 94);
  padding: 0.5em;
  align-self: flex-end; 
  

}

.kursContainer > a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .kursContainer > a:active {
    transform: scale(0.90);
    transition: transform 0.3s ease;
  }
 


/* -------------------- Footer --------------------- */

footer {
  display: flex; 
  justify-content: center; 
  background-color: rgb(0, 25, 66);
  color: white;
  text-align: center;
  align-items: center;
  align-self: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;

}

.footer-content {
  display: flex; 
  align-items: center; 
  margin: 0 auto;
}

.footer-content > p {
  font-size: clamp(0.8em, 2vw, 1.5em);
}


/* -------------------- Media Queries --------------------- */

@media (min-width: 640px) {

  .kursContainer > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: solid 1px rgb(255, 94, 94);
    border-radius: 10px;
  }

  /*.ctaContainer>h2 {
    font-size: clamp(1.2em, 2vw, 3em);
  }*/

}

@media (min-width: 960px) {

  main {
    padding-top: 60px;
  }

  footer {
    position: relative;
  }
  
  .navbarA {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbarB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 25, 66);
    color: white;

    z-index: 10;
    min-height: 50px;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  .navbarB .logoB {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 1em;
    /*color:#f08a62;*/
    color: rgb(255, 94, 94);
  }
  
  .navbarB .links {
    display: flex;
    gap: 2em;
    margin-right: 5%;
  }
  
  .navbarB .links>li>a {
    color: white;
  }
  
  .headOpeningContainer>h1 {
    font-size: clamp(1.8em, 3vw, 2em);
  }
  
  .menuRight {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu-imgFilter {
    position: relative;
    display: flex;
    width: 2em;
    cursor: pointer;
    filter: invert(100%);
  }

  .ctaContainer {
    
    font-size: clamp(2em, 3vw, 2em);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .pictureOpeningContainer>img {
    
    height: 650px;
    object-fit: cover;
    border-radius: 0;
  }

  .kursContainer > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border: solid 1px rgb(255, 94, 94);
    border-radius: 10px;
    
  }

  .ctaContainer>h2 {
    font-size: clamp(0.6em, 2vw, 1.5em);
  }

  .kursContainer > img {
    height: 800px;
  }
  
  .kursAngebotContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  
  .kursContainer > img {
    height: 350px;
  }


}

@media (min-width: 1400px) {

.ctaContainer {
    border-bottom: white solid 2px;
    bottom: 0;
}

.ctaContainer > h2 > a {
  padding: 10px;
  
  font-family: "JetBrains Mono";
  border: 4px solid rgb(255, 67, 67);
}

.pictureOpeningContainer>img {
    
  min-height: 760px;
  object-fit: cover;
  border-radius: 0;
}

.headOpeningContainer>h1 {
  font-size: clamp(1em, 3vw, 3em);
}

footer {
  font-size: 0.5em;
  position: relative;

}

.kursContainer > img {
  height: 800px;
}

.kursAngebotContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.kursContainer > img {
  height: 350px;
}

}

@media (min-width: 1980px) {

  .pictureOpeningContainer>img {
    
    min-height: 1400px;
    object-fit: cover;
    border-radius: 0;
  }

  .ctaContainer {
    bottom: 90px;
  }

  .ctaContainer>h2 {
    font-size: clamp(0.3em, 1.5vw, 1em);
  }

  .kursAngebotContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  


  .kursContainer > img {
    height: 350px;
  }

}














