body{
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header{
    background-color: black;
    display: flex;
    gap: 5%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 70vw;
    height: 70vh;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.pvp{
    background-color: #6D74E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 30%;
    height: 70%;
}

.pvp img{
    width: 200px;
    height: 200px;
}

.pva{
    background-color: #B36DE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 30%;
    height: 70%;
}

.pva img{
    width: 200px;
    height: 200px;
}

main{
    color: white;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 1px #8C6DE3;
    width: 70vw;
    height: 70vh;
}

.game-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 320px;
    height: 320px;
}

.cell{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.cell:hover{
    border: 1px solid #8C6DE3;
}
.cell.taken{
    pointer-events: none;
}
.cell.x{
    color: #6D99E3;
}
.cell.o{
    color: #DA6DE3;
}

footer{
    display: none;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup{
    background-color: #8C6DE3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

#restart{
    background-color: #6D74E3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#restart:hover{
    background-color: #6D99E3;
}

#exit{
    background-color: #DA6DE3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#exit:hover{
    background-color: #db4ce8;
}

@media screen and (max-width: 768px) {
    header{
        width: 100%;
    }

    .pvp, .pva{
        width: 40%;
        height: 50%;
    }
    .pvp img, .pva img{
        width: 100px;
        height: 100px;
    }

    main{
        width: 90%;
    }
}