body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: clamp(420px, 50vw, 1100px);
    background-color: #FFD160;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#itemForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCA014;
    width: clamp(370px, 30vw, 1000px);
    min-width: 370px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#itemForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;

}
#itemForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
#itemForm button:hover {
    background-color: #45a049;
}

#itemList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #FCBB14;
    width: clamp(400px, 30vw, 1000px);
    min-width: 400px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}

input[type="checkbox"]{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.item-name {
    font-family: Calibri, sans-serif;
}

.item-name.checked {
    text-decoration: line-through;
    color: rgb(121, 121, 121);
}

.item-qiantity {
    font-family: Calibri, sans-serif;
}

.item-quantity.checked {
    text-decoration: line-through;
    color: rgb(121, 121, 121);
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f;
}

