body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.477);
    width: 20vw;
    height: 20vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#query{
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.845);
    margin-bottom: 10px;
}