<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1><%= title %></h1>
    <div class="container">
        <% results.forEach(row => { %>
        <div class="city">
            <div class="data">
                <h3><%= row.Name %></h3>
                <div><%= row.Population == null ? 'n.n': row.Population.toLocaleString('de-AT') %></div>    
            </div>
            <form class="cityDELETE" action="/cityDELETE" method="POST">
                <input type="hidden" name="Name" value="<%= row.Name %>">
                <button type="submit">🗑️</button>
            </form>
        </div>
        <% }) %>
        <div class="city">
            <div class="data">
            <h3>Add new city</h3>
            <form class="cityCREATE" action="/cityCREATE" method="POST">
                <input type="text" name="Name" value="" onkeyup="checkNewCityName(event)">
                <span><button id="addNewCityButton" type="submit" disabled>⊕</button></span>
            </form>
            </div>
        </div>
    </div>

<script>
function checkNewCityName(e){
    document.getElementById('addNewCityButton').disabled = (e.target.value.length === 0)
}
</script>
</body>
</html>