:root{
--color_section_block: rgb(3, 208, 170);
--color1:linear-gradient(to right, #2673ef , #4faaef, #1af2ce);
--color_red: rgb(230, 40, 10);
--color_orange: #f6b30a;
}


main{
    background-color:none
}
.jura-body {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
body{
    font-family: "Jura", sans-serif;

}

body p{
    font-family: "Jura", sans-serif;
    font-size: 2em;
    font-weight: 800;      /*Fett*/
}




body h2{
    font-family: "Jura", sans-serif;
    font-size: 2.5em;
    font-weight: bold;      /*Fett*/
}

/*Überschriften bei Kursen*/
.style1{
    font-size: 1.5em;;
    
    color: var(--color_red);
}

.style2{
    font-size: 1.5em;
    color: var(--color_orange);
}





header{
    width: 100%;
    height: 10rem;
    background:linear-gradient(to right, #2673ef , #4faaef, #1af2ce);

    /*position: fixed;        /*Header immer present*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;          /*liegt immer über allem*/

    display: flex;
    justify-content: space-between;     /*abstand*/
    align-items: center;
    flex-direction: column;         /*anordnung : Reihe*/
}


header img{
    width: 8em;
   position: absolute;
   left:0;
}



main{
    /*width: 100%;*/
    background-color: rgb(254, 254, 254);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/*Sactions and their classes*/

section{
    width: 97%;
    outline: solid  var(--color_section_block);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1rem;
}

section img{
    max-width: 80%;
    max-height: 9em;
    margin: 1em;
}



article{
    /*width: 80%;*/
    background-color: rgb(255, 255, 255);
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 10rem;      /*abstand nach oben (hier auch grund warum nicht unter Header)*/
    
}

footer{
    width: 100%;
    min-height: 10rem;
    background:var(--color1);
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    flex-direction: row;
    
    
}



.container_kurse{
    border-bottom: 0.1em solid var(--color_orange);
    border-top:0.1em solid var(--color_orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5em;
    margin-bottom: 1em;
    
    
}


.container_kurse p{
    font-size: small;
    margin: 0.5em;
}


button{
    
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 5em;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #fd4604 , #e16303, #fba403);
    color: white;
    box-shadow: 0 0 15px 5px hsla(210, 4%, 31%, 1); 
    margin: 1em;
}





.search-input {
  
    width: 100%;
    max-width: 300px;
    height: 0.5em;
    padding: 1em 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;

    position: absolute;
    top: 6em; /* Abstand nach oben */
    right: 1em; /* Am rechten Rand */
   
}

.search-input:focus {
    border-color: #fd4604;          /*bei anklicken orange outline*/
    box-shadow: 0 0 5px rgba(253, 70, 4, 0.5);
}

.Kurszeiten_style{
    border-top: solid 0.1em var(--color_red);
    border-bottom:solid 0.1em var(--color_red);
    color: var(--color_red)
}
.style_zusatz{
    font-size: 1em;
}