<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/nav') %>
  <h1>Über diese Seite</h1>
    <div class="main-content">
        <p>Diese Seite wurde mit EJS erstellt.</p>
        <p>Zuerst wurde einen neuen Express-Server erstellt.</p>
        <p>Danach wurde EJS als Template-Engine installiert und konfiguriert.</p>
        <p>Die Views wurden in einem separaten Ordner erstellt.</p>
        <p>Die Navigation wurde in einer separaten Partial-Datei erstellt.</p>
        <p>Die CSS-Datei wurde in einem separaten Ordner (Public) erstellt.</p>
        <p>Es wurden Routen implementiert, die EJS Vorlagen rendern.</p>
        <p>Nach Bearbeitung der POST-Abfragen wird die Seite neu geladen mit <code>res.redirect()</code>.</p>
        </ul>
</body>
</html>