body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, rgb(255, 209, 122), white, rgb(255, 209, 122));
}

.topcontent{
    display : grid;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    align-items: baseline;
    text-align: right;
    width: clamp(370px, 35.5vw, 1000px);
}

.topcontent img{
    justify-content: left;
    width: 40px;
    height: 35px;
    margin-left: 0px;
}

.topcontent h1{
    font-family: Calibri, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;
}

#counter{
    font-family: Calibri, sans-serif;
    font-size: clamp(0.9rem, 1.0em, 1.3rem);
    margin-left: 10px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: clamp(420px, 47vw, 1060px);
    background-color: #FFD160;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#itemForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCA014;
    width: clamp(370px, 35vw, 1000px);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#itemForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#selectionInput{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#itemForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
#itemForm button:hover {
    background-color: #45a049;
}

#itemList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(50px, 50px));
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    background-color: #FCBB14;
    width: clamp(400px, 36vw, 1000px);
    height: 50vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 35px 30px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}

input[type="checkbox"]{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.item-name {
    font-family: Calibri, sans-serif;
    overflow: hidden; /* Verhindert, dass der Text überläuft */
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    text-overflow: ellipsis; /* Zeigt "..." an, wenn der Text abgeschnitten wird */
    text-align: left;
}

.item-name:hover {
    overflow: visible; 
    white-space: normal;
    height: auto;  
}

.item-name.checked {
    text-decoration: line-through;
    color: rgb(121, 121, 121);
}

.item-quantity {
    font-family: Calibri, sans-serif;
    overflow: hidden; /* Verhindert, dass der Text überläuft */
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    text-overflow: ellipsis; /* Zeigt "..." an, wenn der Text abgeschnitten wird */
    text-align: right;
    position: relative;
    left: 14px;
}

.item-quantity:hover {
    overflow: visible; 
    white-space: normal;
    height: auto;  
}

.item-quantity.checked {
    text-decoration: line-through;
    color: rgb(121, 121, 121);
}

.item-selection {
    font-family: Calibri, sans-serif;
    text-align: center;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}

.delete-button:hover {
    background-color: #d32f2f;
}

@media screen and (max-width: 999px) and (min-width: 400px) {
    .container {
        height: 80vh;
    }

    .topcontent{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .topcontent img{
        margin-top: 20px;
        justify-items: center;
    }

    .topcontent h1{
        font-size: 2rem;
    }

    #itemList{
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
    
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .container {
        height: 80vh;
        width: 80vw;
    }

    .topcontent{
        width: 90%;
        grid-template-columns: repeat(3, minmax(260px, 300px));
    }

    #itemForm{
        width: 90%;
    }

    #itemList{
        width: 93%;
    }
}