

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    gap: 20px;
}

#introContainer {
    justify-content: center;
    align-items: center;
}

#introContainer > h1 {
    text-align: center;
}

button{
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(4, 142, 110);
    cursor: pointer;
    color: white;
    font-weight: 800;
}

#feedbackContainer>p{
    border: rgb(212, 212, 212) solid 1px;
    width: 600px;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
}

#feedbackContainer02>p{
    border: rgb(212, 212, 212) solid 1px;
    width: 600px;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
}


.outputText {
    border: rgb(212, 212, 212) solid 1px;
    padding: 5px;
    font-size: 0.9em;
}