/*Main-Container*/

.main-container{
    display: grid;
    height: 600px;
    width: 900px;
    /*padding: 10px;*/
    background-color: chartreuse;
    border-radius: 3%;

    justify-content: center;
    align-items: center;
    margin: 0;
    
}


/*Grid*/

.grid-container{
    display:grid;
    height:500px;
    width: 800px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;        /* Zentriert horizontal */
    align-items: center;    
    gap: 20px;
    
    
  }

 .item-container{
    display: flex;
    height: 100px;
    width: auto;
    background-color: #f608ba;
    align-items: center;
    justify-content: center;
   
  }

  .item-container2{
    display: flex;
    height:200px;
    width: auto;
    grid-column: span 2;
    background-color: blueviolet;
  }

 /* 
    .grid-item1 > div {
    display: grid;
    height: 200px;
    width: 100px;
    background-color: #f608ba;
    color: white;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  .grid-item2 > div {
    display: grid;
    height: 200px;
    width: 100px;
    background-color: #f608ba;
    color: white;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
    */

