body{
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;     
  min-height: 100vh;       
  margin: 0;
  background: radial-gradient(rgb(88, 3, 66),rgb(81, 3, 105), rgb(2, 2, 2));
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  
}

.row {
  display: flex;
  align-items: center;
  border: 2px solid blueviolet;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin: 1em;
}


.count-btn, .lable{
  flex-shrink: 0;
}
.label {
  font-size: 2.5em;
  margin-right: auto;
}

.count-btn {
  width: 3em;
  height: 3em;
  background: white;
  color: black;
  font-size: large;
  margin-left: 1em;
  margin-right: 2em;
  padding: 0.5em;
}

.result-array {
  font-size: 2.5em;
 width: 90vh;
}