<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" href="../public/main.css">
<style>
.errorCause{
    font-weight: bold;
    color:red;
    font-size: 1.3em;
}
</style>
</head>
<body>
    <h1>Service is not avaiable</h1>
    <p>Please contact your software developer</p>
    <p>Cause: <span class="errorCause"><%= err %></span></p>
</body>
</html>