@font-face {
    font-family: "Zain";
    src: url(Fonts/Zain/Zain-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zain-Title";
    src: url(Fonts/Zain/Zain-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    }

body {
    background-color: black;
}




.speacingtop {
    margin-top: 60px;
}

#katzebubi {
    width: 20%;
    border: solid 5px white;
    box-shadow: 0px 0px 15px white, 0px 0px 15px white inset;
    margin: 10px;
}

#topcontent {
    margin-bottom: 20px;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
    padding: 20px;
    border-radius: 22% 22% 35px 35px;
    background-color: #d1bc8a;
    text-align: center;
    align-content: center;
    font-family: Zain-Title;
    font-size: 2em;
    border: solid 3px black;
    box-shadow: 7px 7px 15px black, 2px 2px 0px black;
}

#midcontent {
    margin-bottom: 20px;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
    padding: 20px;
    border-radius: 35px;
    background-color: #d1bc8a;
    text-align: center;
    align-content: center;
    font-family: Zain;
    font-size: 1.5em;
    border: solid 3px black;
    box-shadow: 7px 7px 15px black, 2px 2px 0px black;
}


#bottumcontent {
    margin-inline-start: 20%;
    margin-inline-end: 20%;
    padding: 20px;
    /*Oben Links, Oben Recht, Unten Rechts, Unten links*/
    border-radius:  35px 35px 22% 22%;
    background-color: #d1bc8a;
    text-align: center;
    align-content: center;
    font-family: Zain;
    font-size: 1.5em;
    border: solid 3px black;
    box-shadow: 7px 7px 15px black, 2px 2px 0px black;
}

.aufgaben {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
}

.grid-item {
    background-color: white;
    border: 5px solid #d1bc8a;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    grid-column: auto;

}

.grid-item:hover {
    background-color: #d1bc8a; /* Green */
    color: white;
    transition: all 0.5s ease;
    transform: scale(1.1);
  }

.grid-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

div h3 {
    font-size: 1.1em;
    font-weight: 600;
}

.block-design {
    position: relative;
    height: 100px;
}

.blockup {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #d1bc8a;
    z-index: 1;
}

.blockdown {
    position: absolute;
    top: 53%;
    left: 49.7%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #c6a664;
    z-index: 0;
}


@media screen and (max-width: 600px) {
    body {
        background-color: black;
      }

    .aufgaben {
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
    
    #katzebubi {
        width: 50%;
    }

}