
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 20px;
}

h1 {
    color: darkcyan;
    text-align: left;
}

h2 {
    color: #0073e6;
    font-size: 1.8em;
    border-bottom: 3px solid #0073e6;
    padding-bottom: 5px;
    margin-top: 20px;

}

h3 {
    color: #005bb5;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
}

.no-style {
    color: black;
    border-bottom: none;
}

.underline-full {
    position: relative;
    display: block;
    color: #005bb5;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px; /* Abstand vom linken Rand */
    padding-bottom: 10px; /* Abstand zur Linie */
}

.underline-full::after {
    content: "";
    display: block;
    width: calc(100% - 20px); /* Volle Breite minus linken Abstand */
    height: 3px;
    background-color: #005bb5; /* Farbe der Linie */
    position: absolute;
    left: 0;
    bottom: 0;
}

.flex-container {
    display: flex;
    justify-content: center;  /* Zentriert horizontal */
    align-items: center;  /* Zentriert vertikal */
    height: 150px;  /* Kleinere Höhe */
    width: 60%;  /* Kleinere Breite */
    background-color: #e0e0e0;  /* Heller Hintergrund */
    border: 2px solid #0073e6;  /* Blaue Umrandung */
    margin: 20px auto;  /* Abstand nach oben/unten und zentriert horizontal */
    border-radius: 10px; /* Abgerundete Ecken */
    text-align: center;  /* Text zentrieren */
    font-size: 1.2em;
    font-weight: bold;
    transform: translateX(-20%);
}