body{
    display: flex;
    justify-content: center;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    max-width: 60vh;
    outline: solid rgb(111, 32, 111);
    justify-content: space-between;
    align-items: center;
}

.smallContainer{
    background-color: rgba(139, 0, 139, 0.332);
}

button{
    width: 20vh;
    height: 10vh;
    color: aliceblue;
    background-color: rgb(72, 4, 54);
    margin: 0.5em;
    font-size: 2em;
}

.myStyle{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
}