<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>404 - Nicht gefunden</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <main>
    <h1>404 - Seite nicht gefunden</h1>
    <p>Die angeforderte Seite existiert nicht.</p>
      <h3>FOLLOW me on Github for more such stuff <a href="https://github.com/masteremin" target="_blank">@masteremin0</a></h3>

    <a href="/">Zurück zur Startseite</a>
  </main>
</body>
</html>