<!DOCTYPE html>
<html>
<head><title>Registrieren</title></head>
<link rel="stylesheet" href="/style.css" />
<body>
  <h1>Registrieren</h1>
  <% if (typeof error !== 'undefined') { %>
    <p style="color:red;"><%= error %></p>
  <% } %>
  <form action="/register" method="POST">
    <input name="username" placeholder="Benutzername" required />
    <input type="password" name="password" placeholder="Passwort" required />
    <button type="submit">Registrieren</button>
  </form>
  <p><a href="/login">Login</a></p>
    <h3>FOLLOW me on Github for more such stuff <a href="https://github.com/masteremin" target="_blank">@masteremin0</a></h3>
</body>
</html>