body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hwb(41 2% 29%);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111111;
}

.active {
  background-color: #febc06;
}

/*Grid container*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: rgb(95, 69, 4);
    padding: 10px;
  }
  .grid-container > div {
    background-color: #ecc519;
    color: #fcfafa;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

.grid-container-second{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: rgb(39, 28, 2);
    padding: 10px;
}
.grid-container-second > div{
    background-color: #ac5207;
    color: #fcfafa;
    padding: 10px;
    font-size: 30px;
    text-align: center; 
}
