.key-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.key-pad .row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.key-pad button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #282828;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  color: white;
}

.key-pad button:hover {
  transform: translateY(-2px);
  background-color: #c85014;
  color: rgb(255, 255, 255);
}

.key-pad button:active {
  transform: translateY(0);
}

.key-pad button.disabled {
  background-color: #a0a0a0;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #848484;
}

.main-container {
  display: flex;
  width: 80%;
  height: 60%;
  /*border: 2px solid #000;*/
  background-color: #fff;
  margin-top: 1rem;
}

.hangman-box {
  flex: 1;
  background-color: rgb(84, 84, 84);
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-box {
  flex: 1;
  background-color: #505050;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.word-box ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.word-box ul li {
  margin: 0 5px;
}

.hint-box {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  color: rgb(251, 159, 93);
}

.hint-box span {
  color: white;
}

.info-box {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  color: rgb(255, 255, 193);
}

#start-game {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #c85014;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

p#showResult {
  font-size: 1.2em;
  color: rgb(173, 173, 173)
}

#wrong-guesses {
  color: rgb(255, 134, 134);
}