body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(100,123,139);
}
.menuLeft {
    display: flex;
    gap: clamp(20px, 4vw, 200px);
    align-items: center;
}

div.menuLeft > img {
    width: 150px;
}

div.menuLeft > a {
    text-decoration: none;
    font-size: 40px;
    color: #D9DFE3;
}

.menuRight {
    display: flex;
    align-items: center;
}

.menuRight > div > img {
    filter: invert(1);  
}

main {
    margin-left: 20%;
    margin-right: 20%;    
}

main > div > img {
    float: right;
    margin-left: 40px;
    filter: hue-rotate(60deg) invert(1);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > div {
    background-color: rgb(100,123,139);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

footer > div > div > img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.footerLeft {
    padding: 20px;
    justify-self: left;
    color: #0402EE;

}

.footerCenter {
    width: 100px;
    justify-self: center;
}

.footerRight {
    padding: 20px;
    justify-self: right;
    color: #D9DFE3;
}