body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Ändere die Zeilenhöhen */
    grid-row-gap: 50px;

}

header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    top: 0;
    max-height: 200px;
}
.menuLeft {
    grid-column: span 9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: blue;
    top: 0;
    width: 100%;
    justify-content: left;
    text-align: left;
    padding: 20px;
}

div.menuLeft > img {
    width: 100px;
}

div.menuLeft > a {
    background-color: gold;
    text-align: center;
    padding: 40px;
    text-decoration: none;
}

.menuRight {
    grid-column: span 1;
    background-color: blueviolet;
    top: 0;
    text-align: center;
}

main {
    grid-row: 2;
    text-align: center;
    justify-content: center;
    
}

main > div > img {
    float: right;
    margin-left: 100px;
    margin-right: 100px;
}

footer > div {
    background-color: darkslategrey;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.footerLeft {
    background-color: chartreuse;
    margin-top: 20%;
    margin-left: 20%;
    justify-self: left;
    grid-column: span 3;
}

.footerCenter {
    background-color: crimson;
    width: 100px;
    text-align: center;
    grid-column: span 4;
    justify-self: center;

}

.footerRight {
    background-color: darkcyan;
    justify-self: center;
    grid-column: span 3;
}