* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, white, aqua, blue, purple);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

/*Header*/
header {
  position: relative;
  padding: 0 2rem;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.navbar .logo {
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: fantasy;
}

.navbar .links {
  display: flex;
  gap: 1rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.button {
  background: linear-gradient(45deg, white, aqua, blue, purple);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

.button {
  background-color: aliceblue;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2 ease;
}

.button:hover {
  background-color: aqua;
  scale: 1.05;
}

.button:active {
  background-color: aqua;
  scale: 0.95;
}