* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*Standart ist content-box, Höhe und breite beinhaltet kein padding und border. Box-sizing: border-box; auf alle Elemente (*). Das bedeutet, dass die Breite und Höhe aller Elemente den Inhalt, das Padding und die Border umfassen. Dies erleichtert das Layout-Management, da die Gesamtgröße eines Elements konstant bleibt, unabhängig von Padding und Border.*/
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, white, aqua, blue, purple);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

/*Header*/
header {
  position: relative;
  padding: 0 2rem;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 1rem;
}

.button {
  background-color: aliceblue;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2 ease;
}

.button:hover {
  background-color: aqua;
  scale: 1.1;
}

.button:active {
  background-color: aqua;
  scale: 0.9;
}