




#mainContainer {

display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center; 
height: 100vh; 
text-align: center;
}


#instructions {
    margin-bottom: 20px;
}

#userInput {

    margin-bottom: 20px; 
    padding: 10px; 
    width: 200px;
} 

#feedback{
    margin-bottom: 20px; 
    color: blue;
}
#feedback.error{
    color: rgb(220, 24, 24);
}
#feedback.close {
    color:orange;
}

#feedback.win {
    color: green; 
    font-weight: bold;
}

#fastRichtig {
    color: orange; 
}

#counterDiv {
    margin-bottom: 10px;
}
#gameOver.active{
    background-color: black;
    color: red;
    padding: 5px;
    font-weight: 800;
}



button {
    margin-bottom: 20px; 
    padding: 10px 20px;
}