

.color01 {
    color: rgb(70, 196, 235);
}

.color02 {
    color: rgb(196, 185, 155);
}

.bodystyle {
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
}

#bild01 {
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#persona01 {
    width: 650px;
    margin-bottom: 20px;
    border:black 5px solid;
    border-radius: 5px;
}

#sheldon {
    width: 250px;
    border-radius: 15px;

}