

.color01 {
    color: rgb(70, 196, 235);
}

.color02 {
    color: rgb(196, 185, 155);
}

.bodystyle {
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
}

#bild01 {
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    border:black 2px solid;
    border-radius: 5px;

}

#persona01 {
    width: 650px;
    margin-bottom: 20px;
    border:black 5px solid;
    border-radius: 5px;
}

#sheldon {
    width: 250px;
    border-radius: 15px;

}

#buttonZ {
    margin-top: 40px;
    margin-bottom: 40px;
}

#example01 {
    width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#farbTheorie {
    width: 650px;
    margin-bottom: 20px;
    margin-top: 20px;
    border:black 5px solid;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    max-width: 50%;
}
th, td {
    border: 1px solid #c8ad77;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}