:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --main-font: 'Arial, sans-serif';
}

body{
    display: flex;
    margin: 0;
    min-width: 100vw;
    height: 100vh;
}

.searchbar{
    position: absolute;
    top: 4px;
    border: #333 solid 1px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding: 10px;
    width: 20vw;
}

#searchInput{
    width: 70%;
    padding: 10px;
    border: #333 solid 1px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
}

.searchbar > form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.createToDo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #333 solid 1px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding: 20px;
    margin-left: 20px;
    width: 10vw;
}

.createToDo > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.taskList{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 10px;
    font-family: var(--main-font);
    overflow: auto;
}

.task{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #333 solid 1px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding: 20px;
    margin-left: 20px;
    width: 10vw;
    height: 6vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task:hover{
    background-color: #e0e0e0;
}

.taskDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #333 solid 1px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: clamp(70vw, 80vw, 83vw);
}

.taskDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #333 solid 1px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding: 20px;
    width: 70vw;
}

.taskDetails > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70%;
}

.taskDetails > form > input{
    width: 30%;
    padding: 10px;
    border: #333 solid 1px;
    border-radius: 5px;
    text-align: center;
}

.taskDetails > form > label{
    font-family: var(--main-font);
    font-size: 1.4em;
    color: var(--main-text-color);
}

#taskDescription{
    width: 60%;
}


#deleteToDoButton{
    width: 10%;
}